header {
  padding: 20px 0px;
  position: fixed;
  background: $white;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__top {
  @include flex(row, center, space-between, wrap);
}

.header__logo {
  a {
    text-decoration: none;
    font-family: $font-secondary;
    font-weight: 700;
    padding: 10px 10px 10px 0;
    font-size: 1.5em;
  }
}

.header__controls {
  @include flex(row, center, flex-start, wrap);
  gap: 10px;
}
