#products {
  .content-center {
    margin-bottom: 20px;
    @include breakpoint(sm) {
      margin-bottom: 30px;
    }
  }
}

.products-list {
  @include flex(row, flex-start, flex-start, wrap);
  gap: 15px;
}

.products-list__item {
  padding: 16px 8px;
  border: 1px solid $gray;
  border-radius: 2px;
  width: calc(50% - 10px);
  margin-bottom: 40px;
  text-decoration: none;
  transition: border 0.3s ease;
  margin-bottom: 20px;

  &:hover {
    border-color: $green-hover;
  }

  @include breakpoint(sm) {
    padding: 16px;
    width: calc(33.333% - 10px);
    margin-bottom: 25px;
  }

  h3 {
    font-weight: 700;
    margin-top: 15px;
  }

  p {
    color: $strongGray;
    margin-top: 10px;
  }
}

.products-list__image {
  img {
    width: 100%;
  }
}

.products-list__price {
  font-weight: 700;
}
.products-list__controls {
  @include flex(column, flex-start, space-between, wrap);
  margin-top: 20px;

  @include breakpoint(sm) {
    flex-direction: row;
    align-items: center;
  }

  @include breakpoint(xs) {
    .btn {
      margin-top: 10px;
    }
  }
}
