#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 11;
  top: 0;
  left: 0;
  @include flex(row, center, center, wrap);
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s ease 500ms;

  &:before {
    content: "";
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;

    opacity: 0;
    transition: opacity 0.2s ease;
  }
}

#modal.modal--show {
  transform: translateY(0%);
  opacity: 1;
  visibility: visible;
  transition: all 0s ease;

  &:before {
    opacity: 1;
  }
}

#modal.modal--show .modal-container {
  transform: translateY(0%);
  transition: all 0.5s ease;
}

.modal-container {
  max-width: 870px;
  width: 100%;
  height: 100%;
  padding: 50px 20px;
  background: $white;

  transform: translateY(100%);
  transition: all 0.3s ease;
  overflow: auto;

  @include breakpoint(sm) {
    padding: 100px 50px;
    height: auto;
  }
}

.modal__delete {
  text-align: center;

  p {
    font-family: $font-secondary;
    font-weight: 700;
  }

  div {
    margin-top: 20px;
  }
}
